.container {
	z-index: 2;
	background: rgba(0, 0, 0, 0.14);
	backdrop-filter: blur(20px);
	min-width: 100vw;
	min-height: 100vh;
	height: 100%;
	position: absolute;
	top: 0;
	display: flex;
	justify-content: center;
	overflow: hidden;
	align-items: center;
	transition: all 0.3s;
}

.addCourseForm {
	min-height: 70vh;
	min-width: 40vw;
	border-radius: 40px;
	padding: 50px;
	background-color: white;
}

.formContent {
	display: flex;
	margin-top: 20px;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.inputField {
	background: #f1f1f1;
	border: 1px solid #949494;
	box-sizing: border-box;
	padding: 10px 20px;
	border-radius: 4px;
	font-family: Poppins;
	font-size: 18px;
	font-weight: 300;
	margin: 6px initial;
	width: 70%;
	color: rgba(0, 0, 0, 0.6);
}

.submitBtn {
	margin-top: 20px;
	background: rgba(80, 160, 43, 0.97);
	border: 1px solid #000000;
	border-radius: 10px;
	transition: all 0.25s;
	cursor: pointer;
	height: 45px;
	padding: initial 30px;
	font-size: 18px;
	color: white;
}

.submitBtn:hover {
	background: rgba(101, 216, 47, 0.97);
	transition: all 0.25s;
}
