.main {
	min-height: 75vh;
}

.header {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 20px 0;
	border-bottom: 2px #ccc solid;
}

.headingLeft {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.headingRight {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.navLink {
	font-family: Poppins;
	font-style: normal;
	font-weight: 500;
	font-size: 22px;
	margin-right: 30px;
	line-height: 39px;
	color: #1d2fcd;
}

.logo {
	display: block;
	transform: scale(0.5);
}
.pageTitle {
	font-family: Poppins;
	font-weight: normal;
	font-size: 28px;
	line-height: 40px;
	text-align: center;
	width: 200px;
	color: #000000;
}

.footer {
	display: flex;
	flex: 1;
	padding: 2rem 0;
	position: static;
	margin-top: 50px;
	bottom: 0px;
	border-top: 1px solid #eaeaea;
	justify-content: space-between;
	align-items: center;
	padding: 30px 40px;
}

.controlContainer {
	width: 100%;
	display: flex;
	justify-content: space-around;
	padding: 30px 450px;
}

.toggleContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.toggleNotice {
	font-family: "Poppins";
	font-size: 18px;
}

/* Publish Round 1 Btn */
.publishRoundOne {
	display: flex;
	align-items: center;
}

.publishRoundOneBtn {
	background: rgba(12, 188, 9, 0.7);
	border: 1px solid #000000;
	box-sizing: border-box;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	padding: 10px 30px;
	font-family: "Poppins";
	font-style: normal;
	font-weight: 400;
	font-size: 17px;
	max-width: 300px;
	color: #ffffff;
	transition: all 0.25s ease;
	cursor: pointer;
}
.publishRoundOneBtn:hover {
	background: rgba(34, 188, 9, 0.945);
	transition: all 0.25s ease;
}
.publishRoundOneBtn:disabled {
	background: rgba(175, 235, 166, 0.945);
	transition: all 0.25s ease;
	color: #000000;
	cursor: not-allowed;
}

/* View Students Btn */
.gotoViewStudents {
	display: flex;
	align-items: center;
}

.gotoViewStudentsBtn {
	background: rgba(6, 147, 105, 0.7);
	border: 1px solid #000000;
	box-sizing: border-box;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	padding: 10px 30px;
	font-family: "Poppins";
	font-style: normal;
	font-weight: 400;
	font-size: 17px;
	color: #ffffff;
	transition: all 0.25s ease;
	cursor: pointer;
}
.gotoViewStudentsBtn:hover {
	background: rgba(9, 188, 134, 0.858);
	transition: all 0.25s ease;
}
