.main {
	min-height: 75vh;
}

.header {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 20px 0;
	border-bottom: 2px #ccc solid;
}

.headingLeft {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.headingRight {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.navLink {
	font-family: Poppins;
	font-style: normal;
	font-weight: 500;
	font-size: 22px;
	margin-right: 30px;
	line-height: 39px;
	color: #1d2fcd;
}

.logo {
	display: block;
	transform: scale(0.5);
}
.pageTitle {
	font-family: Poppins;
	font-weight: normal;
	font-size: 28px;
	line-height: 40px;
	text-align: center;
	width: 200px;
	color: #000000;
}

.footer {
	display: flex;
	flex: 1;
	padding: 2rem 0;
	position: static;
	bottom: 0px;
	border-top: 1px solid #eaeaea;
	justify-content: space-between;
	align-items: center;
	padding: 30px 40px;
}
