.container {
	display: flex;
	margin-top: 5rem;
	justify-content: center;
	font-family: "Poppins";
	font-size: 18px;
	display: flex;
	align-items: center;
	text-align: center;
}

.snoCell,
.courseCodeCell,
.courseNameCell,
.departmentCell,
.addedByCell,
.addedOnCell,
.minCapCell,
.maxCapCell,
.actionsCell,
.reorderCell {
	border: 1px solid #000000;
	font-weight: 500;
	padding: 10px 20px;
	background: #f0f0f0;
}

.snoCell {
	min-width: 110px;
}
.courseCodeCell {
	min-width: 180px;
}
.courseNameCell {
	min-width: 200px;
}
.departmentCell {
	min-width: 180px;
}
.addedByCell {
	min-width: 210px;
}
.addedOnCell {
	min-width: 200px;
}
.minCapCell,
.maxCapCell {
	min-width: 120px;
}
.actionsCell,
.reorderCell {
	min-width: 170px;
}

.snoCellData,
.courseCodeCellData,
.courseNameCellData,
.departmentCellData,
.addedByCellData,
.addedOnCellData,
.minCapCellData,
.maxCapCellData,
.reorderCellData,
.actionsCellData {
	border: 0.7px solid #000000;
	font-weight: 300;
	padding: 10px 20px;
}
