.container {
    z-index: 2;
    background: rgba(0, 0, 0, 0.14);
    backdrop-filter: blur(20px);
    min-width: 100%;
    height: 100%;
    /* min-height: 100vh; */
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    overflow: hidden;
    align-items: center;
    transition: all 0.3s;
}

.confirmationArea {
    min-height: 70%;
    min-width: 40%;
    border-radius: 40px;
    padding: 50px;
    background-color: white;
}

.formHeader {
    display: flex;
    justify-content: center;
}

.notice {
    flex-grow: 1;
    width: 600px;
    padding: 20px 20px 0 20px;
}

.preferencesList {
    list-style-type: none;
}

.preferencesItem {
    font-size: 18px;
    padding: 2px 0;
    font-weight: 700;
}

.freezeBtn {
    background: rgba(34, 188, 9, 0.7);
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 5px 10px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #ffffff;
    transition: all 0.25s ease;
    cursor: pointer;
}
.freezeBtn:hover {
    background: rgba(34, 188, 9, 0.945);
    transition: all 0.25s ease;
}
